name: Running tests commands

on:
  pull_request:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checking out code
        uses: actions/checkout@v4
      - name: Installing Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install packages
        run: npm ci
      - name: Prettier
        run: npm run format:check
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checking out code
        uses: actions/checkout@v4
      - name: Installing Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install packages
        run: npm ci
      - name: Build
        run: npm run build
